body {
    box-sizing: border-box;
}

small > pre {
    margin-top: 0px;
    margin-bottom: 2px;
}

#width {
    display: inline-block;
    margin-right: 1rem;
}

#height {
    vertical-align:top;
    display: inline-block;
    margin-right: 1rem;
}