<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <small><pre>Powered by {{.AppName}} v{{.Version}}</pre></small>
    <div id="forms">
      <form name="createGame" id="createGame" action="/new" method="post">
        <input type="submit" name="createGame" value="Create New Game" />
      </form>
      <form name="joinGame" id="joinGame" action="/join" method="post">
        <input type="text" name="joinId" required="required" />
        <input type="submit" name="joinGame" value="Join a Game" />
      </form>
    </div>
  </body>
</html>