<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="static/css/main.css">
  </head>
  <body>
    <p>{{.Response}}</p>
    <p><pre>Powered by {{.AppName}} v{{.Version}}</pre></p>
    <script src="static/js/index.js" type="text/javascript"></script>
  </body>
</html>